:root{
    scroll-behavior: smooth;
    font-size: 125.5%;
}

div{
    height: 50vh;
    width: 75;
    border: 3px solid #000000;
    margin: 10vh;
    text-align: center;
}

body{
    color:#4040FF;
    background: linear-gradient(to bottom, #050025, #050010);
}

#bx1{
    background: linear-gradient(to top, #050025, #000000);
}

#bx2{
    color: #050025;
    background: linear-gradient(to top, #3000AA, #5040FF);
}
#bx3{
    color: #FF4040;
    background: linear-gradient(to top, #250005, #000000);
}

.box_title{
    font-size:2rem;
}