body{
    background-color: #200050;
    text-align: center;
    color: #FACCFF;
}
@media screen and (min-width: 600px){
    h1{
        color: #ff7b00;
        font-size: 200px;
    }
}
@media print and (max-width:100cm){
    h2{
        color:#FF00FF;
        text-align: right;
    }
}
@media (min-width:700px){
    h3{
        color:#00FFFF;
    }
}
@media (orientation:landscape){
    h4{
        color: #0000FF;
    }
}

@media (min-width:700px) and (max-width:800px){
    h5{
        color:#FFFF40;
        font-weight: bold;
    }
}