body{
    color:#FFFFFF;
    background-repeat: repeat;
    background-image: url(./bg.png);
    text-align: center;
}

img.isaac{
    height: 300px;
    filter: drop-shadow(5px 5px 5px #000000);
}

figure.isaac{
    margin: 0 auto;
    width: 500px;
    height: 400px;
    background-color: #00000088;
    background-position: 4px 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #00000090;
}